<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="updateData()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="updateData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="loggedIn">
    <ion-list *ngIf="items.length">
      <ion-item-sliding *ngFor="let item of items">
        <ion-item>
          <ion-icon name="alert" *ngIf="!item.taken" item-left></ion-icon>
          <ion-icon name="checkmark" *ngIf="item.taken && !item.backupId" item-left></ion-icon>
          <ion-icon name="done-all" *ngIf="item.taken && item.backupId" item-left></ion-icon>
          <h2><b>{{item.title}}</b></h2>
          <h3><b>Caller: {{item.caller.name}} - {{item.caller.number}}</b></h3>
          <h3><b>{{item.caller.location}}</b></h3>
          <h3><i>Dispatcher: </i>{{item.dispatcher.name}} at {{item.timeStamp}}</h3>
          <h3 style="white-space: normal;"><i>Details:</i> {{item.details}}</h3>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="danger" *ngIf="canEdit" (click)="cancelCall(item)">
            <ion-icon name="archive"></ion-icon>
            Cancel
          </button>
          <button ion-button color="primary" *ngIf="canEdit" (click)="editCall(item)">
            <ion-icon name="cog"></ion-icon>
            Edit
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="primary" *ngIf="item.taken" (click)="responderPressed(item, 'responder')">
            <ion-icon name="contact"></ion-icon>
            Responder
          </button>
          <button ion-button color="secondary" *ngIf="item.taken" (click)="joinCall(item)">
            <ion-icon name="navigate"></ion-icon>
            Backup Call
          </button>
          <button ion-button color="primary" *ngIf="!item.taken" (click)="takecallPressed(item)">
            <ion-icon name="jet"></ion-icon>
            Take Call
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <div *ngIf="!items.length" class="loggedOut">
      <ion-icon name="clock"></ion-icon>
      <h1>These are not the calls you're looking for.</h1>
    </div>
  </div>

  <ion-fab *ngIf="canEdit" right bottom>
    <button ion-fab color="light" (click)="addItem()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <div *ngIf="!loggedIn" class="loggedOut">
    <ion-icon name="alert"></ion-icon>
    <h1>Please log In</h1>
  </div>

</ion-content>
