<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="updateData()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="updateData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="loggedIn">
    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        <ion-icon name="alert" *ngIf="!item.taken" item-left></ion-icon>
        <ion-icon name="checkmark-circle-outline" *ngIf="item.taken" item-left></ion-icon>
        <h2><b>{{item.title}}</b></h2>
        <h3>{{item.caller.name}} | {{item.caller.number}}</h3>
        <h3>{{item.timeStamp}}</h3>
        <h3><b>{{item.caller.location}}</b></h3>
        <h3 style="white-space: normal;"><b>Details:</b> {{item.text}}</h3>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" *ngIf="item.taken" (click)="responderPressed(item)">
          <ion-icon name="person"></ion-icon>
          Responder
        </button>
        <!--<button ion-button color="secondary" *ngIf="item.taken" (click)="joinCall(item)">
          <ion-icon name="navigate"></ion-icon>
          Join Call
        </button>-->
        <button ion-button color="primary" *ngIf="!item.taken" (click)="takecallPressed(item)">
          <ion-icon name="navigate"></ion-icon>
          Take Call
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab *ngIf="canEdit" right bottom>
    <button ion-fab color="light" (click)="addItem()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <div *ngIf="!loggedIn" class="loggedOut">
    <ion-icon name="alert"></ion-icon>
    <h1>Please log In</h1>
  </div>
</ion-content>
